<p class="m-4 p-2 card">
An observable is a way of representing data that is emitted over time. It is similar to a promise, but it can emit multiple values and can be cancelled. Observables are often used to represent data from asynchronous sources, such as network requests or user input.

In Angular, observables are created using the Observable constructor. The constructor takes a function as its argument, which is called when the observable is subscribed to. The function can emit values, complete the observable, or error.


</p>

<div class="  d-flex justify-content-center">

    <ngx-codejar class="col-8" [highlightMethod]="hightlightMethod" [(code)]="varSer.observableCode" [highlighter]="'prism'" [showLineNumbers]="true"></ngx-codejar>
</div>